<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FillingStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FillingStation.Properties.Settings>
            <setting name="cellWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="cellHeight" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="A92percentage" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="A92volume" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="A92price" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="A95percentage" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="A95volume" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="A95price" serializeAs="String">
                <value>36</value>
            </setting>
            <setting name="A98percentage" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="A98volume" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="A98price" serializeAs="String">
                <value>39</value>
            </setting>
            <setting name="Dieselpercentage" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Dieselvolume" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Dieselprice" serializeAs="String">
                <value>35</value>
            </setting>
        </FillingStation.Properties.Settings>
    </userSettings>
</configuration>